*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #ffff;
}

#main{
    width: 100%;
}

#hero{
    width: 100%;
    height: 100vh;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 89px;
    padding: 0px 50px;
    line-height: 24px;
}

#nav a {
    color: #ffff;
    text-decoration: none;
    font-size: 20px;
}

#heading{
    margin-left: 30px;
}

#main-title{
    margin-left: 1%;
}

#main-title, #secondh1{
    opacity: .6;
    line-height: 1;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "General Sans Medium";
}

.blocktext{
    display: inline-block;
    width: auto;
    margin-left: 6.5%;
}

#basedon{
    text-align: right;
    text-transform: uppercase;
    font-size: 15px;
}

#smallHeading {
    margin-top: 180px;
    padding-right: 50px;
}

#smallHeading h5{
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: .8vw;
    text-align: right;
    letter-spacing: 1.5px;
}


#herofooter{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

#herofooter a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    gap: 5px;
}

#iconset{
    display: flex;
    gap: 6px;
}

.circle{
    width: 25px;
    height: 25px;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
}

/* Decorative eleement */
#hero::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: radial-gradient(circle at 10% 30%, rgba(255, 255, 255, 0.05) 1%, transparent 50%),
    radial-gradient(circle at 100% 0%, rgba(255, 255, 255, 0.07) 10%, transparent 30%)
}